/* style.css */

/* Reddit-inspired theme */

body {
  background: #DAE0E6;
  color: #1A1A1B;
  font-family: Arial;
}

header {
  background: #CEE3F8;
  padding: 20px;
  text-align: center;   
}

#folders {
  list-style: none;
  padding: 0;
}

footer {
  background: #CEE3F8;
  padding: 10px;
  text-align: center;
}